
<div class="row justify-content-end">
    <div class="col-lg-11">
        <div class="row justify-content-end">

            <div class="col-lg-4 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                    <i class="icofont-brand-audi"></i>
                    <span data-toggle="counter-up">@ViewData["TotalBrands"]</span>
                    <p>Brands</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                    <i class="icofont-auto-mobile"></i>
                    <span data-toggle="counter-up">@ViewData["TotalModels"]</span>
                    <p>Models</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                    <i class="icofont-clock-time"></i>
                    <span data-toggle="counter-up">@ViewData["TotalCars"]</span>
                    <p>Cars</p>
                </div>
            </div>

        </div>
    </div>
</div>